<div class="flex flex-cols justify-center w-max h-100">
  <form
    class="flex-cols bg-slate-100"
    id="myForm"
    class="w-10 h-3"
    method="post"
    action="https://documentstoreelixirtest.tusqasi.repl.co/api/upload_image"
  >
    <div>
      <input type="file" class="" />
    </div>
    <button type="submit" class="bg-red-100 ">Submit</button>
  </form>
</div>
